body {
	background-color: #CED6F0;
	font-family: Bebas Neue;
}

.navbar {

	padding: 10px;
	background-color: #7789C6;
	font-size: 45px;
	font-weight: 700;
	border-bottom: 2px solid black;
}

.row h1 {
	margin: 20px;
	text-align: center;
	font-size: 2.5em;
}

.container-fluid p {
	width: 80%;
	background-color: #7789C6;
	border-radius: 10px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

.icon-bar {
	margin-bottom: 3px;
}